<?xml version='1.0' encoding='utf-8'?>
<widget id="com.das360.cashier" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cashir</name>
    <description>
      shawermatec cashier App
    </description>
    <author email="dev@das-360.net" href="http://das-360.net">
        das-360 Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
          <icon src="www/res/icons/android/icon-36-ldpi.png" density="ldpi" />
         <icon src="www/res/icons/android/icon-48-mdpi.png" density="mdpi" />
         <icon src="www/res/icons/android/icon-72-hdpi.png" density="hdpi" />
         <icon src="www/res/icons/android/icon-96-xhdpi.png" density="xhdpi" />


        <splash src="www/res/screens/android/screen-hdpi-portrait.png" density="port-hdpi"/>
        <splash src="www/res/screens/android/screen-ldpi-portrait.png" density="port-ldpi"/>
        <splash src="www/res/screens/android/screen-mdpi-portrait.png" density="port-mdpi"/>
        <splash src="www/res/screens/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>

        <splash src="www/res/screens/android/screen-hdpi-landscape.png" density="land-hdpi"/>
        <splash src="www/res/screens/android/screen-ldpi-landscape.png" density="land-ldpi"/>
        <splash src="www/res/screens/android/screen-mdpi-landscape.png" density="land-mdpi"/>
        <splash src="www/res/screens/android/screen-xhdpi-landscape.png" density="land-xhdpi"/>

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
      <preference name="SplashScreen" value="screen" />
      <preference name="AutoHideSplashScreen" value="false" />
      <plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager" />
</widget>
