.addform{
    margin-top: 25px;
    .item-content{
        border-radius: 25px;
        background-color: $fg;
        margin-bottom: 8px;
        .item-inner{
            &:after{
                background: transparent;
            }
        }
        .item-title {
            color: $bg;
            width: auto;
            min-width: 35%;
            text-transform: capitalize;
        }
    }
    .itemcontent{
        border-radius: 25px;
        background-color: $fg;
        margin-bottom: 8px;
        .div-title{
            color: $bg;
            width: auto;
            min-width: 35%;
            text-transform: capitalize;
            margin-#{$left}: 15px;
            padding-top: 15px;
        }
        textarea{
        text-align: center;
        }
    }

        .list-block {
                width: 80%;
                margin: auto;
            ul{
                background: transparent;
                border: none;
                &:before, &:after{
                    background: transparent;
                }
        }
    }
    .buttons-row{
        margin: 15px auto;
        .button{
            margin-top: 15px;
            margin-bottom: 15px;
                height: 41px;
                line-height: 41px;
            &.submit-link{
                background: $green;
                &.active-state{
                     background:darken($green,15%) ;
                }
            }
            &.cancel-link{
                 background: $red;
                &.active-state{
                    background:darken($red,15%) ;
                }
            }
        }
    }
}

