.to-h-add{
    color: $fg;
    h4{
        color: $fg;
        margin-top: 5%;
        font-weight: normal;
        text-align: center;
        padding: 5px 10%;
        font-size: 16px;
    }
    span{
        color: $fg;
        display: block;
        text-align: center;
    }
}
