$dir: ltr;
$img_src : "../img/";
$fonts : "../fonts/";

//social colors
$stext:#fff;
$facebook:#3d5998;  //facebook
$twitter:#1ca8e3;  //twitter
$rss:#FAA21B; //rss
$google:#ca3e2d;  //google plus
$linkedin:#236785;  //linkedin
$youtube:#f03a37;  //youtube
$skype:#00B8ED;  //skype
$vimeo:#5BC8FF;  //vimeo
$flickr:#DF3392;  //flickr
$instagram:#4e443b;  //instagram
$snapchat:#ECE000;
$tumblr:#34465D;

$fg:#ffffff;
$bg:#000000;
$red:#D63647;
$purple:#185a49;
$green: #44B763;
$blue:#1A93C0;
$yellow:#F1C418;
$grey:#939597;
$dark-grey:#58585B;
//$shap-1  : url('#{$img_src}backgrounds/shape--01.svg');
//$shap-2  : url('#{$img_src}backgrounds/shape--02.svg');
//$shap-3  : url('#{$img_src}backgrounds/shape--03.svg');
//$shap-4  : url('#{$img_src}backgrounds/shape--04.svg');
//$shap-5  : url('#{$img_src}backgrounds/shape--05.svg');
//$shap-6  : url('#{$img_src}backgrounds/shape--06.svg');
//$shap-7  : url('#{$img_src}backgrounds/shape--07.svg');
//$shap-8  : url('#{$img_src}backgrounds/shape--08.svg');
//$shap-9  : url('#{$img_src}backgrounds/shape--09.svg');
//$shap-10 : url('#{$img_src}backgrounds/shape--10.svg');
//$shap-11 : url('#{$img_src}backgrounds/shape--11.svg');
//$shap-12 : url('#{$img_src}backgrounds/shape--12.svg');
//$shap-13 : url('#{$img_src}backgrounds/shape--13.svg');
//$shap-14 : url('#{$img_src}backgrounds/shape--14.svg');
//$shap-15 : url('#{$img_src}backgrounds/shape--15.svg');
